html, body {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

canvas {
  border: 2px solid black;
  margin-top: 10px;

}

#viewArea {
  position: relative;
  width: 1000px;  /* Matches my JS file's canvasWidth */
  height: 750px; /* Matches my JS file's canvasHeight */
  margin: 0;     /* centers the project on the screen */
}

#webcam {
  /* hides the raw feed so I don't see the "double mirror" section */
  display: none;
}

#canvas {
  position: absolute;
  top: 0;
  left: 0;
  border: 5px solid transparent;
  border-radius: 10px;
  background-color: white;
  /* pointer-events: none; */
}
